<!DOCTYPE html>
<html>

<head>
    <%- include('../layout/head.ejs', {title: "Chỉnh Sửa Sản Phẩm" })%>
</head>

<body>
    <!-- header -->
    <%- include('../layout/header.ejs') %>
        <%- include('../layout/sidebar.ejs')%>

            <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
                <div class="row">
                    <ol class="breadcrumb">
                        <li><a href="#"><svg class="glyph stroked home">
                                    <use xlink:href="#stroked-home"></use>
                                </svg></a></li>
                        <li><a href="">Quản lý sản phẩm</a></li>
                        <li class="active">
                            <%=product.name%>
                        </li>
                    </ol>
                </div>
                <!--/.row-->

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Sản phẩm: <%=product.name%>
                        </h1>
                    </div>
                </div>
                <!--/.row-->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="col-md-6">
                                    <form action="/admin/products/update/<%=product._id%>" role="form" method="post"
                                        enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label>Tên sản phẩm</label>
                                            <input type="text" name="name" required class="form-control"
                                                value="<%=product.name%>" placeholder="">
                                        </div>

                                        <div class="form-group">
                                            <label>Giá sản phẩm</label>
                                            <input type="number" name="price" required value="<%=product.price%>"
                                                class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>Bảo hành</label>
                                            <input type="text" name="warranty" required value="<%=product.warranty%>"
                                                class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>Phụ kiện</label>
                                            <input type="text" name="accessories" required
                                                value="<%=product.accessories%>" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>Khuyến mãi</label>
                                            <input type="text" name="promotion" required value="<%=product.promotion%>"
                                                class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>Tình trạng</label>
                                            <input type="text" name="status" required value="<%=product.status%>"
                                                type="text" class="form-control">
                                        </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Ảnh sản phẩm</label>
                                        <input type="file" name="thumbnail">
                                        <br>
                                        <div>
                                            <img src="/static/images/<%=product.thumbnail%>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Danh mục</label>
                                        <select name="cat_id" class="form-control">
                                            <%for(x in categories){%>
                                                <!-- _id là object: nếu bỏ dấu _ thì sẽ hiểu là sử dụng tk _id nhưng ở dạng string chứ kp ở dạng opject để so sánh với cat_id  -->
                                                <option <% if(product.cat_id==categories[x].id){%>selected<%}%>
                                                        value=<%=categories[x]._id%>
                                                            >
                                                            <%= categories[x].title%>
                                                </option>
                                                <%}%>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>Trạng thái</label>
                                        <select name="is_stock" class="form-control">
                                            <option <% if(product.is_stock){%>selected<%}%> value=1>Còn hàng</option>
                                            <option <% if(!product.is_stock){%>selected<%}%> value=0>Hết hàng</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>Sản phẩm nổi bật</label>
                                        <div class="checkbox">
                                            <label>
                                                <input name="featured" type="checkbox" <% if(product.featured){%>checked
                                                <%}%> value="on">Nổi bật
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Mô tả sản phẩm</label>
                                        <textarea id="description" name="description" required class="form-control"
                                            rows="3"><%=product.description%></textarea>
                                        <script>
                                            CKEDITOR.replace("description");
                                        </script>
                                    </div>
                                    <button type="submit" name="sbm" class="btn btn-primary">Cập nhật</button>
                                    <button type="reset" class="btn btn-default">Làm mới</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div><!-- /.col-->
                </div><!-- /.row -->

            </div>
            <!--/.main-->
</body>

</html>