<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat</title>
    <link rel="stylesheet" href="/static/chat/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/chat/css/chat.css" />
</head>

<body>
    <div class="container app">
        <div class="row app-one">
            <div class="col-sm-4 side">
                <div class="side-one">
                    <div class="row heading">
                        <div class="col-sm-3 col-xs-3 heading-avatar">
                            <div class="heading-avatar-icon">
                                <img src="/static/chat/img/avatar1.png" />
                            </div>
                        </div>
                        <div class="col-sm-1 col-xs-1 heading-dot pull-right">
                            <i class="fa fa-ellipsis-v fa-2x pull-right" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-2 col-xs-2 heading-compose pull-right">
                            <i class="fa fa-comments fa-2x pull-right" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div class="row searchBox">
                        <div class="col-sm-12 searchBox-inner">
                            <div class="form-group has-feedback">
                                <input id="searchText" type="text" class="form-control" name="searchText"
                                    placeholder="Search" />
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row sideBar">
                        <!-- Room -->
                        <%for(room of rooms){%>
                            <div class="row sideBar-body" id="room-<%=room._id%>">
                                <div class=" col-sm-3 col-xs-3 sideBar-avatar">
                                    <div class="avatar-icon">
                                        <img src="/static/chat/img/avatar1.png" />
                                    </div>
                                </div>
                                <div class="col-sm-9 col-xs-9 sideBar-main">
                                    <div class="row">
                                        <div class="col-sm-8 col-xs-8 sideBar-name">
                                            <span class="name-meta">
                                                <%= room.name ? room.name : room.users.filter(user=>user.id !=
                                                    userID).map(user=>user.full_name).join(",")%>
                                            </span>
                                        </div>
                                        <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                                            <span class="time-meta pull-right">18:18 </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%}%>
                    </div>
                </div>

                <div class="side-two">
                    <div class="row newMessage-heading">
                        <div class="row newMessage-main">
                            <div class="col-sm-2 col-xs-2 newMessage-back">
                                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            </div>
                            <div class="col-sm-10 col-xs-10 newMessage-title">New Chat</div>
                        </div>
                    </div>

                    <div class="row composeBox">
                        <div class="col-sm-12 composeBox-inner">
                            <div class="form-group has-feedback">
                                <input id="composeText" type="text" class="form-control" name="searchText"
                                    placeholder="Search People" />
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row compose-sideBar">
                        <!-- User -->
                        <% for(let user of users){%>
                            <div class="row sideBar-body" id="user-<%=user._id%>">
                                <div class="col-sm-3 col-xs-3 sideBar-avatar">
                                    <div class="avatar-icon">
                                        <img src="/static/chat/img/avatar1.png" />
                                    </div>
                                </div>
                                <div class="col-sm-9 col-xs-9 sideBar-main">
                                    <div class="row">
                                        <div class="col-sm-8 col-xs-8 sideBar-name">
                                            <span class="name-meta">
                                                <%= user.full_name%>
                                            </span>
                                        </div>
                                        <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                                            <span class="time-meta pull-right">18:18 </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%}%>
                    </div>
                </div>
            </div>

            <div class="col-sm-8 conversation">
                <div class="row heading">
                    <div class="col-sm-2 col-md-1 col-xs-3 heading-avatar">
                        <div class="heading-avatar-icon">
                            <img src="/static/chat/img/avatar6.png" />
                        </div>
                    </div>
                    <div class="col-sm-8 col-xs-7 heading-name">
                        <a class="heading-name-meta">John Doe </a>
                        <span class="heading-online">Online</span>
                    </div>
                    <div class="col-sm-1 col-xs-1 heading-dot pull-right">
                        <i class="fa fa-ellipsis-v fa-2x pull-right" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="row message" id="conversation">
                    <div class="row message-previous">
                        <div class="col-sm-12 previous">
                            <a onclick="previous(this)" id="ankitjain28" name="20">
                                Show Previous Message!
                            </a>
                        </div>
                    </div>

                    <div class="row message-body">
                        <div class="col-sm-12 message-main-receiver">
                            <div class="receiver">
                                <div class="message-text">Hi, what are you doing?!</div>
                                <span class="message-time pull-right"> Sun </span>
                            </div>
                        </div>
                    </div>

                    <div class="row message-body">
                        <div class="col-sm-12 message-main-sender">
                            <div class="sender">
                                <div class="message-text">I am doing nothing man!</div>
                                <span class="message-time pull-right"> Sun </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row reply">
                    <div class="col-sm-1 col-xs-1 reply-emojis">
                        <i class="fa fa-smile-o fa-2x"></i>
                    </div>
                    <div class="col-sm-9 col-xs-9 reply-main">
                        <textarea class="form-control" rows="1" id="comment"></textarea>
                    </div>
                    <div class="col-sm-1 col-xs-1 reply-recording">
                        <i class="fa fa-microphone fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-1 col-xs-1 reply-send">
                        <i class="fa fa-send fa-2x" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/chat/js/jquery-3.5.1.min.js"></script>
    <script src="/static/chat/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script>
        var current_room_id = '<%- rooms[0] ? rooms[0]._id : "" %>';
        var current_user_id = '<%= userID %>';

        const socket = io();

        const START_CONVERSATION = "START_CONVERSATION";
        const START_CONVERSATION_SUCCESS = "START_CONVERSATION_SUCCESS";
        const roomSideBar = $(".side-one .sideBar");

        // Khởi tạo 1 cuộc hội thoại phía client
        function startConversation(data) {
            // Gửi một sự kiện lên Server để Server bắt đầu một cuộc hội thoại
            /* 
                - tên sự kiện
                - data gửi kèm
            */
            socket.emit(START_CONVERSATION, data);
        }

        const renderRoom = (room) => {
            const html = `<div class="row sideBar-body" id="room-${room._id}">
                <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                    <img src="/static/chat/img/avatar1.png" />
                </div>
                </div>
                <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                    <div class="col-sm-8 col-xs-8 sideBar-name">
                        <span class="name-meta">
                        ${room.name
                    ? room.name
                    : room.users
                        .filter((user) => user._id !== current_user_id)
                        .map((user) => user.full_name)
                        .join(",")
                }
                        </span>
                    </div>
                </div>
                </div>
            </div>`;

            // tìm tới cấu trúc cha của roomSideBar để sinh ra cấu trúc html này và chèn lên đầu
            roomSideBar.prepend(html);
        }

        // lắng nghe event gửi từ server
        socket.on(START_CONVERSATION_SUCCESS, function ({ room }) {
            if (room) {
                // Cập nhật lại ID Room mới nhận được từ Server
                current_room_id = room._id;

                // Gọi tới phương thức renderRoom để Render lại toàn bộ danh sách Room
                // kiểm tra nếu như chưa có item từ Server trả về thì mới Render
                if (!$(`#room-${room._id}`).length) {
                    renderRoom(room);
                }


                // Tìm tới tất cả các Class CSS là phần tử con của phần tử có Class side-one
                // sau đó xóa hết tất cả các Class có tên là active đã tồn tại trước đó
                $(".side-one").find(".active").removeClass("active");

                // Tìm tới item đang được kích hoạt cho 
                $(`#room-${room._id}`).addClass("active");
            }
        });

        const boot = () => {
            // Xử lý sự kiện click vào một item bất kỳ từ Tab User hoặc Tab Room
            /* 
                - param1: ten even
                - param2: tuong tac even do vao element co class nao
                - param3: func xu ly
            */
            $(document).on("click", ".sideBar-body", function (e) {
                // Lấy ra ID của phần tử HTML vừa click vào
                const idStr = $(this).attr("id"); // result có dạng: user-abababababab

                // Tách ra mảng chứa Type (Room/User) và ID tương ứng của nó
                const [type, id] = idStr.split("-");

                // Gọi tới phương thức startConversation để gửi một yêu cầu lên Server
                startConversation({ type, id });

                // Tự động thực thi click off Tab User sau khi hoàn thành các tác vụ trên (nếu như click vào item của Tab User)
                $(".newMessage-back").click();
            });
            if (current_room_id) {
                startConversation({ type: "room", id: current_room_id });
            }
        }
        boot();
    </script>
    <script>
        $(function () {
            $(".heading-compose").click(function () {
                $(".side-two").css({
                    left: "0",
                });
            });

            $(".newMessage-back").click(function () {
                $(".side-two").css({
                    left: "-100%",
                });
            });
        });
    </script>
</body>

</html>