<!DOCTYPE html>
<html>

<head>
    <%- include('./layout/head.ejs', {title: "Search" })%>
        <link rel="stylesheet" href="/static/site/css/search.css">
</head>

<body>

    <!--	Header	-->
    <%- include('./layout/header.ejs')%>
        <!--	End Header	-->

        <!--	Body	-->
        <div id="body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <%- include("./layout/menu.ejs")%>
                    </div>
                </div>
                <div class="row">
                    <div id="main" class="col-lg-8 col-md-12 col-sm-12">
                        <!--	Slider	-->
                        <%- include("./layout/slide.ejs")%>
                            <!--	End Slider	-->

                            <!--	List Product	-->
                            <div class="products">
                                <div id="search-result">Kết quả tìm kiếm với sản phẩm <span>
                                        <%= keyword%>
                                    </span>
                                </div>
                                <div class="product-list card-deck">
                                    <% for(product of products){%>
                                        <%- include("components/product-item", {product})%>
                                            <% }%>
                                </div>
                            </div>
                            <!--	End List Product	-->

                            <div id="pagination">
                                <ul class="pagination">
                                    <%if(page>1){%>
                                        <li class="page-item"><a class="page-link"
                                                href="/search?keywords=<%= keyword%>&page=<%= page-1%>">Trang
                                                trước</a></li>
                                        <%}%>
                                            <%for(x in pages){%>
                                                <%if(pages[x]!=='...'){%>
                                                    <li class="page-item <%=pages[x]===page ? 'active':''%>"><a
                                                            class="page-link"
                                                            href="/search?keywords=<%= keyword%>&page=<%= pages[x]%>">
                                                            <%=pages[x]%>
                                                        </a></li>
                                                    <%}else{%>
                                                        <li class="page-item"><a class="page-link"
                                                                onclick="return false"
                                                                href="/search?keywords=<%= keyword%>&page=<%=pages[x]%>">
                                                                <%=pages[x]%>
                                                            </a></li>
                                                        <%}%>
                                                            <%}%>
                                                                <%if(page<totalPages){%>
                                                                    <li class="page-item"><a class="page-link"
                                                                            href="/search?keywords=<%= keyword%>&page=<%= page+1%>">Trang
                                                                            sau</a></li>
                                                                    <%}%>
                                </ul>
                            </div>

                    </div>

                    <%- include("./layout/sidebar.ejs")%>
                </div>
            </div>
        </div>
        <!--	End Body	-->

        <!-- footer -->
        <%- include("./layout/footer.ejs")%>

</body>

</html>