<!DOCTYPE html>
<html>

<head>
    <%- include('./layout/head.ejs', {title: "Cart" })%>
        <link rel="stylesheet" href="/static/site/css/cart.css">
</head>

<body>

    <!--	Header	-->
    <%- include('./layout/header.ejs')%>
        <!--	End Header	-->

        <!--	Body	-->
        <div id="body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <%- include("./layout/menu.ejs")%>
                    </div>
                </div>
                <div class="row">
                    <div id="main" class="col-lg-8 col-md-12 col-sm-12">
                        <!--	Slider	-->
                        <%- include("./layout/slide.ejs")%>
                            <!--	End Slider	-->

                            <!--	Cart	-->
                            <div id="my-cart">
                                <div class="row">
                                    <div class="cart-nav-item col-lg-7 col-md-7 col-sm-12">Thông tin sản phẩm</div>
                                    <div class="cart-nav-item col-lg-2 col-md-2 col-sm-12">Tùy chọn</div>
                                    <div class="cart-nav-item col-lg-3 col-md-3 col-sm-12">Giá</div>
                                </div>
                                <form method="post" action="/update-cart">
                                    <%for(let product of products){%>
                                        <%totalPrice +=product.price*product.qty%>
                                            <div class="cart-item row">
                                                <div class="cart-thumb col-lg-7 col-md-7 col-sm-12">
                                                    <img src="/static/images/<%= product.img%>">
                                                    <h4>
                                                        <%= product.name%>
                                                    </h4>
                                                </div>

                                                <div class="cart-quantity col-lg-2 col-md-2 col-sm-12">
                                                    <input name="products[<%=product.id%>][qty]" type="number"
                                                        id="quantity" class="form-control form-blue quantity"
                                                        value="<%= product.qty%>" min="1">
                                                </div>
                                                <div class="cart-price col-lg-3 col-md-3 col-sm-12"><b>
                                                        <%= new Intl.NumberFormat("vi-VN",{style: "currency"
                                                            ,currency: "VND" }).format(product.qty * product.price)%>đ
                                                    </b><a href="/dell-cart-<%= product.id%>">Xóa</a></div>
                                            </div>
                                            <%}%>
                                                <div class="row">
                                                    <div class="cart-thumb col-lg-7 col-md-7 col-sm-12">
                                                        <button id="update-cart" class="btn btn-success" type="submit"
                                                            name="sbm">Cập
                                                            nhật
                                                            giỏ hàng</button>
                                                    </div>
                                                    <div class="cart-total col-lg-2 col-md-2 col-sm-12"><b>Tổng
                                                            cộng:</b>
                                                    </div>
                                                    <div class="cart-price col-lg-3 col-md-3 col-sm-12">
                                                        <b>
                                                            <%= new Intl.NumberFormat("vi-VN", {style: "currency" ,
                                                                currency: "VND" }).format(totalPrice)%>đ
                                                        </b>
                                                    </div>
                                                </div>
                                </form>

                            </div>
                            <!--	End Cart	-->

                            <!--	Customer Info	-->
                            <div id="customer">
                                <form method="post" action="/order">
                                    <div class="row">

                                        <div id="customer-name" class="col-lg-4 col-md-4 col-sm-12">
                                            <input placeholder="Họ và tên (bắt buộc)" type="text" name="name"
                                                class="form-control" required>
                                        </div>
                                        <div id="customer-phone" class="col-lg-4 col-md-4 col-sm-12">
                                            <input placeholder="Số điện thoại (bắt buộc)" type="text" name="phone"
                                                class="form-control" required>
                                        </div>
                                        <div id="customer-mail" class="col-lg-4 col-md-4 col-sm-12">
                                            <input placeholder="Email (bắt buộc)" type="text" name="mail"
                                                class="form-control" required>
                                        </div>
                                        <div id="customer-add" class="col-lg-12 col-md-12 col-sm-12">
                                            <input placeholder="Địa chỉ nhà riêng hoặc cơ quan (bắt buộc)" type="text"
                                                name="add" class="form-control" required>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="by-now col-lg-6 col-md-6 col-sm-12">
                                            <button type="submit" class="btn btn-danger">
                                                <b>Mua ngay</b>
                                                <span>Giao hàng tận nơi siêu tốc</span>
                                            </button>
                                        </div>
                                        <div class="by-now col-lg-6 col-md-6 col-sm-12">
                                            <button type="button" class="btn btn-primary">
                                                <b>Trả góp Online</b>
                                                <span>Vui lòng call (+84) 0988 550 553</span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!--	End Customer Info	-->


                    </div>

                    <!-- sidebar -->
                    <%- include("./layout/sidebar.ejs")%>
                </div>
            </div>
        </div>
        <!--	End Body	-->

        <!-- footer -->
        <%- include("./layout/footer.ejs")%>

</body>

</html>